.card {
  border: solid 1px rgb(255, 254, 254);
  border-radius: 20px;
  padding: 15px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
}
.price {
  display: flex;
  line-height: 5px;
}
.price p:last-child {
  text-decoration: line-through;
  padding-left: 10px;
  font-weight: 400;
}
.price p:first-child {
  color: #f17228;
  font-weight: 600;
  padding-left: 10px;
}
.foodname {
  font-weight: 600;
  font-family: "Poppins";
  padding-left: 10px;
}

.image {
  display: flex;
  flex-direction: row-reverse;
}
.image p {
  background: #f17228;
  border-radius: 0px 8px 0px 20px;
  position: absolute;
  width: 75px;
  height: 45px;
  margin-top: 0;
  color: white;
  font-family: "Poppins";
  font-weight: 600;
  padding: 15px;
}
.pricetag {
  color: #f17228;
  font-weight: 600;
  line-height: 5px;
  padding-left: 10px;
}
@media (max-width: 1050px) {
  .image p {
    width: 30px;
    height: 20px;
    border-radius: 0px 8px 0px 5px;
    position: absolute;
    display: flex;
    font-size: 14px;
    align-items: center;
    text-align: center;
    margin-top: 0px;
    justify-content: center;
  }
}
@media (max-width: 1050px) {
  .foodname {
    font-size: 12px;
  }
}
@media (max-width: 1050px) {
  .price,
  .pricetag {
    font-size: 14px;
  }
}
@media (max-width: 1050px) {
  .section2 img {
    width: 140px;
  }
}
