.card1 {
  border: solid 1px rgb(255, 254, 254);
  border-radius: 20px;
  padding: 15px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
}
.price {
  display: flex;
  line-height: 5px;
}
.price p:last-child {
  text-decoration: line-through;
  padding-left: 10px;
  font-weight: 400;
}
.price p:first-child {
  color: #f17228;
  font-weight: 600;
  padding-left: 10px;
}
.foodname {
  font-weight: 600;
  font-family: "Poppins";
  padding-left: 10px;
}

.image {
  display: flex;
  flex-direction: row-reverse;
}
.image p {
  background: #f17228;
  border-radius: 0px 8px 0px 20px;
  position: absolute;
  width: 75px;
  height: 45px;
  margin-top: 0;
  color: white;
  font-family: "Poppins";
  font-weight: 600;
  padding: 15px;
}
.pricetag {
  color: #f17228;
  font-weight: 600;
  line-height: 5px;
  padding-left: 10px;
}
@media (max-width: 1050px) {
  .image p {
    width: 30px;
    height: 20px;
    border-radius: 0px 8px 0px 5px;
    position: absolute;
    display: flex;
    font-size: 14px;
    align-items: center;
    text-align: center;
    margin-top: 0px;
    justify-content: center;
  }
}
@media (max-width: 1050px) {
  .foodname {
    font-size: 12px;
  }
}
@media (max-width: 1050px) {
  .price,
  .pricetag {
    font-size: 14px;
  }
}
@media (max-width: 1050px) {
  .section2 img {
    width: 140px;
  }
}
/* .hover-img {
  background-color: #000;
  color: #fff;
  max-width: 100%;
  min-width: 100%;
  text-align: center;
  border-radius: 10px;
}
.hover-img * {
  transition: all 0.45s ease;
}
.hover-img:before,
.hover-img:after {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transition: all 0.3s ease;
  z-index: 1;
  opacity: 0;
  transform: scaleY(2);
}
#imghover {
  position: absolute;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  opacity: 0;
  z-index: 2;
  transition-delay: 0.1s;
} */
/* .hover-img:hover:before,
.hover-img:hover:after {
  transform: scale(1);
  opacity: 1;
}
.hover-img:hover img {
  opacity: 0.7;
}
.hover-img:hover #imghover {
  opacity: 1;
} */

.card1 .hovver {
  position: absolute;
  width: 284px;
  height: 301px;
  background-color: rgba(0, 0, 0, 0.519);
  margin: -15px;
  z-index: 3;
  opacity: 0;
  border-radius: 10px;
  transition: opacity 1s;
}
.card1 .hovver:hover {
  opacity: 1;
  transition: opacity 1s;
}
.hovver img {
  position: absolute;
  margin-top: 90px;
  margin-left: 110px;
}
