* {
  box-sizing: border-box;
}
footer {
  background-image: url(../images_svg/basefooter.svg);
  height: 384px;
}

footer h1 {
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
  font-family: "Poppins";
  color: #fdfdfd;
  padding: 10px;
}
@media (max-width: 1050px) {
  footer h1 {
    font-size: 16px;
  }
}
.footer {
  display: flex;
  justify-content: flex-start;
}
.foot {
  display: flex;
  align-items: center;
}
.foot2 {
  display: flex;
  flex-direction: column;
  line-height: 40px;
  justify-content: center;
  padding-left: 200px;
  margin-top: 30px;
}
@media (max-width: 1050px) {
  .foot2 a,
  .foot3 a,
  .foot p {
    font-size: 14px;
  }
}
@media (max-width: 1050px) {
  .foot2 {
    padding-left: 70px;
  }
}
.foot3 {
  line-height: 25px;
  text-align: center;
  padding-left: 70px;
  margin-top: 40px;
}
.foot2 a {
  color: #fdfdfd;
  font-family: "Poppins";
  font-weight: 600;
  font-size: 16px;
}
.foot3 a {
  color: #fdfdfd;
  font-family: "Poppins";
  font-weight: 600;
  font-size: 16px;
}
.foot3 p {
  color: #fdfdfd;
}
.underInfo {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.underInfo p {
  color: #fdfdfd;
  font-size: small;
}
.socailInfo {
  justify-content: center;
  align-items: center;
}
footer hr {
  border: #fdfdfd solid 1px;
}
#underline {
  margin-top: 130px;
}
#logos {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
@media (max-width: 1050px) {
  .foot2 a,
  .foot3 a,
  .foot3 p {
    font-size: 14px;
  }
}
@media (max-width: 1050px) {
  .authorInfo {
    display: block;
  }
}
@media (max-width: 1050px) {
  .underInfo p {
    font-size: 12px;
  }
}
@media (max-width: 1050px) {
  .socailInfo,
  .serviceInfo,
  .privacyInfo {
    padding-left: 100px;
  }
}
@media (max-width: 1050px) {
  .authorInfo {
    padding-left: 700px;
    line-height: 10px;
    margin-top: -30px;
  }
}
@media (max-width: 1050px) {
  .underInfo {
    flex-wrap: wrap;
  }
}
@media (max-width: 1050px) {
  #underline {
    margin-top: 80px;
  }
}
@media (max-width: 1050px) {
  .foot {
    padding-left: 50px;
  }
}
