* {
  box-sizing: border-box;
}
header {
  background: #fefefe;
  box-shadow: 0px 2px 4px rgba(241, 114, 40, 0.05);
}
header h1 {
  left: 10px;
  top: 5px;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
  font-family: "Poppins";
  color: #f17228;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 10px;
}
.topnav {
  display: flex;
  justify-content: space-between;
}
.topnav a {
  text-decoration: none;
  color: #000000;
}
#search {
  width: 250px;
  height: 30px;
  border: 1px solid #fbc5a6;
  margin-top: 10px;
  border-radius: 10px;
  background: url(../images/.png);
  background-repeat: no-repeat;
  background-size: 15px;
  background-position: center left;
  padding-left: 20px;
}
.item1,
.item2,
.item4 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.item1 img {
  width: 40px;
}
.item4 a {
  color: #f17228;
  padding: 10px;
  font-size: 16px;
  font-weight: 500;
  font-family: "Poppins";
}
.item2 a {
  padding: 20px;
}
#itm {
  padding-right: 60px;
}
